.logn_page {

  height: 100vh;
  background-image: url('../../images/loginBack.png');
  background-color: #C2CFE4;
  background-repeat: no-repeat, repeat;
  width: 100%;
  background-position: right;
  margin-top: -70px;
  background-size: 100%;
}

.login_inputs{
  margin-top: 50px;
}
.login_inputs input {
  border: 1px solid #023047;
  border-radius: 5px;
  width: 100%;
  outline: none;
}

.login_inputs input::placeholder{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #678391;
}


.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 15vh;
  position: relative;
}

.button {
  color: rgb(251, 251, 251);
  border-radius: 17px;
  background-color: #414C60;
  border-width: 0;
  padding: 15px;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 16px;
  margin-top: 30px;

  display: flex;
  justify-content: center;
}

.login_forms {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login_forms h3 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 120%;
  color: #023047;
}

.login_forms p {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  display: flex;
  align-items: center;

  color: #023047;

}

@media (max-width: 480px){
  .logn_page {
    background-image: none;
    
  }

  .image {
    display: none;
  }

  .login_forms{
    width: 80vw;
    justify-content: center;
  }

  .row{
    display: block;
  }
}

@media (min-width:480px) and (max-width: 780px){
  .logn_page {
    background-size: cover;
    /* height: initial; */
  }

  .image {
    position: relative;
  }

  .login_forms{
    width: 80vw;
    justify-content: center;
  }

  .row{
    /* display: block; */
  }
}

@media (min-width:780px) and (max-width: 1200px){
  .logn_page{
    height: initial;
    background-size: cover;
  }
}