

h2{
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
}

.table{
    display: flex;
    flex-direction: column;
}

.tablecompany{
    border-collapse: separate;
    border-spacing: 0px 20px;
}


.tablecompany thead th{
    background-color: #8E9AAF;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 20px 40px;
}


.tablecompany thead tr th:first-child {
	border-radius: 20px 0 0 20px;
}
.tablecompany thead tr th:last-child {
	border-radius: 0 20px 20px 0;
}


.tablecompany tbody tr{
    background-color: #D9D9D9;
    color: #414C60;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    
}


.tablecompany tbody tr td:first-child {
    padding: 20px 70px;
	border-radius: 20px 0 0 20px;
    
    
}
.tablecompany tbody tr td:last-child {
	border-radius: 0 20px 20px 0;
    
}

@media (max-width:480px) {
    .tablecompany thead th{
        padding: 20px 5px;
    }

    .tablecompany tbody tr td:first-child {
        padding: 20px 0px;
    }
} 