
.chatListItem{
  border: 1px solid #414C60;
  border-radius: 21px;
  background: transparent;
  display: flex;
  flex-direction: row;
  padding: 15px 45px;
  margin: 5px 0;
  align-items: center;

  text-decoration: none;
}

.chatListItemActive{
  border: 1px solid #414C60;
  border-radius: 21px;
  background: #8E9AAF;
  display: flex;
  flex-direction: row;
  padding: 15px 45px;
  margin: 5px 0;
  align-items: center;

  text-decoration: none;
}

.chatListItem img{
  width: 50px;
  border-radius: 100px;
}


.alltext{
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.text {
  justify-self: center;
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
}

.textReverse{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.circle{
  background: #D9D9D9;
    border-radius: 52px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    /* line-height: 18px; */
    display: flex;
    align-items: center;
    text-align: center;
    /* letter-spacing: 1.12869px; */
    text-transform: capitalize;
    color: #414C60;
    width: 22px;
    height: 22px;
    justify-content: center;
}

.textName {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  display: flex;
  align-items: flex-end;
  text-transform: capitalize;

  color: #414C60;
}

.chatListItemActive .textName {
  color: #FFFFFF !important;
}
.chatListItemActive .bodyName{
  color: #FFFFFF !important;
}
.chatListItemActive .timeText{
  color: #FFFFFF !important;
}
.text .bodyName {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  color: #414C60;

}

.timeText {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;

  color: #414C60;
  /* align-self: end; */

}

.messagesContainer {
  padding: 50px;
  width: 100%
}

.messagesContainer .msgHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.messagesContainer .msgHeader .info{
  display: flex;
}

.messagesContainer .msgHeader img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.messagesContainer .msgHeader h6 {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.125px;
  text-transform: capitalize;

  color: #414C60;
}

.messagesContainer .msgInput {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
  position: absolute;
  bottom: 10px;
  width: -webkit-fill-available;
  margin-right: 20px;
}

.messagesContainer .msgInput img {
  width: 40px;
  height: 40px;
}

.messagesContainer .msgInput button {
  padding: 10px;
  background: #414C60;
  border-radius: 20px;
  border: none;
}

.messagesContainer .msgInput input {
  background: #414C60;
  border-radius: 20px;
  margin-bottom: 0;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #C2CFE4;
}


.messagesContainer .msgInput input::placeholder {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #C2CFE4;
}

.msgBody {
  display: flex;
  gap: 6px;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;

  overflow-y: scroll;
  max-height: 60vh;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.msgBody::-webkit-scrollbar {
  display: none;
}

.chatBubbleMine {
  background: #EFD3D7;
  border-radius: 20px;
  padding: 10px 25px;
  align-self: flex-end;


  display: flex;
  gap: 30px;

}

.chatBubbleMine .textName {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #000000;

  text-transform: none
}

.chatBubble .textName {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #FFFFFF;
  text-transform: none
}

.chatBubble {
  background: #414C60;
  border-radius: 20px;
  padding: 10px 25px;

  display: flex;
  gap: 30px;
}

.display {
  display: flex;
}

.displayleft {
  display: flex;
  align-items: end;
  align-self: flex-end;
}

.timestamp {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: capitalize;

  color: #414C60;
  align-self: flex-end;
}

.chatBubble .timestamp {
  color: #EFD3D7;
}

.chats{
  width: 100%
}





@media (max-width: 480px) {

  .messagesContainer{
    padding: 16px
  }

  .messagesContainer  .msgInput{
    gap: 5px
  }



  .chatListItem {
    width: inherit;
  } 
}

@media (min-width:780px) and (max-width:1200px) {


  .chatListItem{
    /* align-items: center; */
  }

}

@media (min-width:480px) and (max-width:780px) {

.messagesContainer{
  padding: 17px;
}
.messagesContainer  .msgInput{
  gap: 10px
}
}